
.contenedor_perfil {
    width: 40px;
    height: 40px;
    border-radius: 50%; 
    background-color: #3498db;
    position: relative; 
}

.hover-div {
   
    display: none;
    position: absolute;
    left: -330px;
  border-radius: 1vw;
    top: 30px;
    width: 25vw;
    height: 18vw;
    background-color: #535757;
    color: #fff;
    text-align: center;
    line-height: 40px;
    transition: all 300ms;
    overflow: hidden;
}
.name{
    width: 380px;
    text-align: center;
}


.contenedor_perfil:hover .hover-div {
   opacity: 1;
    display: block;
    right: 40px;
    transition: all 300ms;  
}

.hover-div h3{
margin-left: -20px;
margin-top: -20px;
position: absolute;
}


/* Estilos para la tabla */
table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}
.contenedor_cuerpo{
    padding: 7vw 2vw;
}
